{% extends 'bootstrap/base.html' %}

{% block title %}Части{% endblock %}

{% block content %}
   {{ super() }}
   <div class="container text-center">
        <h2>{{ h1 }}</h2>
        <a href="{{ url_for('view_parts2') }}"><h2>Посмотреть части списком </h2></a>
        <a href="{{ url_for('view_parts_combined') }}"><h2>Посмотреть части в таблице</h2></a>
        <a href="{{ url_for('add_part_view') }}"><h2>Добавить части</h2></a>
        <a href="{{ url_for('mass_add_data') }}"><h2>МАССОВОЕ ДОБАВЛЕНИЕ</h2></a>

        <form action="{{ url_for('process_selection') }}" method="POST">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Part Number</th>
                        <th>Value</th>
                        <th>Выбрать</th>
                    </tr>
                </thead>
                <tbody>
                    {% for part1 in parts1 %}
                        <tr>
                            <td>{{ part1.id }}</td>
                            <td>{{ part1.part_number }}</td>
                            <td>{{ part1.value }}</td>
                            <td>
                                <input type="checkbox" name="selected_parts" value="{{ part1.id }}">
                            </td>
                        </tr>
                    {% endfor %}
                    {% for part2 in parts2 %}
                        <tr>
                            <td>{{ part2.id }}</td>
                            <td>{{ part2.part_number }}</td>
                            <td>{{ part2.value }}</td>
                            <td>
                                <input type="checkbox" name="selected_parts" value="{{ part2.id }}">
                            </td>
                        </tr>
                    {% endfor %}
                    {% for part3 in parts3 %}
                        <tr>
                            <td>{{ part3.id }}</td>
                            <td>{{ part3.part_number }}</td>
                            <td>{{ part3.value }}</td>
                            <td>
                                <input type="checkbox" name="selected_parts" value="{{ part3.id }}">
                            </td>
                        </tr>
                    {% endfor %}
                    {% for part4 in parts4 %}
                        <tr>
                            <td>{{ part4.id }}</td>
                            <td>{{ part4.part_number }}</td>
                            <td>{{ part4.value }}</td>
                            <td>
                                <input type="checkbox" name="selected_parts" value="{{ part4.id }}">
                            </td>
                        </tr>
                    {% endfor %}
                    {% for part5 in parts5 %}
                        <tr>
                            <td>{{ part5.id }}</td>
                            <td>{{ part5.part_number }}</td>
                            <td>{{ part5.value }}</td>
                            <td>
                                <input type="checkbox" name="selected_parts" value="{{ part5.id }}">
                            </td>
                        </tr>
                    {% endfor %}
                    {% for part6 in parts6 %}
                        <tr>
                            <td>{{ part6.id }}</td>
                            <td>{{ part6.part_number }}</td>
                            <td>{{ part6.value }}</td>
                            <td>
                                <input type="checkbox" name="selected_parts" value="{{ part6.id }}">
                            </td>
                        </tr>
                    {% endfor %}
                    {% for part7 in parts7 %}
                        <tr>
                            <td>{{ part7.id }}</td>
                            <td>{{ part7.part_number }}</td>
                            <td>{{ part7.value }}</td>
                            <td>
                                <input type="checkbox" name="selected_parts" value="{{ part7.id }}">
                            </td>
                        </tr>
                    {% endfor %}
                    {% for part8 in parts8 %}
                        <tr>
                            <td>{{ part8.id }}</td>
                            <td>{{ part8.part_number }}</td>
                            <td>{{ part8.value }}</td>
                            <td>
                                <input type="checkbox" name="selected_parts" value="{{ part8.id }}">
                            </td>
                        </tr>
                    {% endfor %}
                    {% for part9 in parts9 %}
                    <tr>
                        <td>{{ part9.id }}</td>
                        <td>{{ part9.part_number }}</td>
                        <td>{{ part9.value }}</td>
                        <td>
                            <input type="checkbox" name="selected_parts" value="{{ part9.id }}">
                        </td>
                    </tr>
                {% endfor %}
                {% for part10 in parts10 %}
                    <tr>
                        <td>{{ part10.id }}</td>
                        <td>{{ part10.part_number }}</td>
                        <td>{{ part10.value }}</td>
                        <td>
                            <input type="checkbox" name="selected_parts" value="{{ part10.id }}">
                        </td>
                    </tr>
                {% endfor %}
                {% for part11 in parts11 %}
                    <tr>
                        <td>{{ part11.id }}</td>
                        <td>{{ part11.part_number }}</td>
                        <td>{{ part11.value }}</td>
                        <td>
                            <input type="checkbox" name="selected_parts" value="{{ part11.id }}">
                        </td>
                    </tr>
                {% endfor %}
                {% for part12 in parts12 %}
                    <tr>
                        <td>{{ part12.id }}</td>
                        <td>{{ part12.part_number }}</td>
                        <td>{{ part12.value }}</td>
                        <td>
                            <input type="checkbox" name="selected_parts" value="{{ part12.id }}">
                        </td>
                    </tr>
                {% endfor %}
                {% for part13 in parts13 %}
                    <tr>
                        <td>{{ part13.id }}</td>
                        <td>{{ part13.part_number }}</td>
                        <td>{{ part13.value }}</td>
                        <td>
                            <input type="checkbox" name="selected_parts" value="{{ part13.id }}">
                        </td>
                    </tr>
                {% endfor %}
                {% for part14 in parts14 %}
                    <tr>
                        <td>{{ part14.id }}</td>
                        <td>{{ part14.part_number }}</td>
                        <td>{{ part14.value }}</td>
                        <td>
                            <input type="checkbox" name="selected_parts" value="{{ part14.id }}">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
<!--       <form method="post" action="{{ url_for('process_selection') }}">
                <input type="hidden" name="action" value="delete">
                <button type="submit" class="btn btn-primary">Удалить выбранные</button>
            </form>
               </table>
            -->         
        </form>
   </div>
{% endblock %}
